<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Clientes</title>
</head>
<body>
<h1>Cadastro de Clientes</h1>

<div class="container">
    <form class="formulario">
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" placeholder="Exemplo: 00000000000">
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" placeholder="Exemplo: João da Silva...">
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" placeholder="Exemplo: 11955555555">
        </div>
        <div>
            <label for="cidade">Cidade de origem:</label>
            <input type="text" id="cidade" placeholder="Exemplo: Salvador - BA">
        </div>

        <div>
            <button type="submit">Salvar</button>
        </div>
    </form>
</div>
</body>
</html>
